:root {
    --theme-color: #178a7e;
    font-family: sans-serif;
    font-size: 20px;
    line-height: normal;
}

body {
    max-width: 900px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--theme-color);
}

article {
    padding: 20px;
    border: 1px solid var(--dark);
    border-radius: 5px;
}

article > h3 {
    margin-top: 0;
}

section {
    margin-bottom: 20px;
}

.tag {
    background-color: var(--lesslight);
    color: var(--dark);
    border-radius: 5px;
    font-size: 0.75rem;
    margin: 5px;
    padding: 5px;
}