:root {
    --color-10: rgba(23, 138, 126, 1);
    --shadow-color: rgba(23, 138, 126, 0.5);
    --max-width: 1000px;
    font-family: sans-serif;
}

body {
    font-size: 20px;
}

main > h2 {
    /* Separador para la página About.*/
    margin-top: 3rem;
}

section {
    margin-bottom: 20px;
}

.tag {
    background-color: var(--shadow-color);
    border-radius: 5px;
    font-size: 0.75rem;
    margin: 5px;
    padding: 5px;
    color: inherit;
    text-decoration: none;
}