{% extends 'portal/base.html' %}

{% block content %}
  <h1>Catálogo Social</h1>
    <p>Catálogo de datos abiertos de la República Argentina que apunta* a servir como backup ciudadano de los datos estatales.</p>
    <p><i>* no es exhaustivo, hice lo que pude.</i></p>
  <h2>Historia</h2>
    <p>Catálogo Social nace en 2023 como una iniciativa de la sociedad civil para preservar los datos abiertos del Estado Argentino ante un posible
    recorte de las áreas que lo publican. Para más información del contexto, podés leer <a href="https://bit.ly/CartaDatosAbiertos">la carta de la comunidad datera argentina</a>.</p>
  <h2>¿Cómo funciona?</h2>
    <p>Los portales de datos abiertos de la república argentina publican un archivo <a href="https://datos.gob.ar/data.json">data.json</a> que contiene
    los metadatos de los conjunto de datos y distribuciones que publican. Catálogo Social se encarga de descargar ese archivo y almacenar una copia de los metadatos en una base de datos.
    Luego, los usuarios pueden buscar y acceder a los archivos desde el portal de datos abiertos que lo publica.</p>
    <p>Si bien Catálogo Social contiene una copia de todos los conjunto de datos, solo se muestran los metadatos y <strong>se redirige a los usuarios al portal de datos abiertos oficial que lo publica</strong>.
    Si en un futuro los portales de datos abiertos dejan de funcionar, Catálogo Social va a poner a disposición una copia de los archivos para que los usuarios puedan descargarlos.</p>
    <h3>¿Qué es un archivo data.json?</h3>
    <p> Es un archivo en formato JSON que contiene los metadatos de los conjunto de datos y distribuciones que publica un portal de datos abiertos. Los metadatos son información sobre los datos,
    como por ejemplo el título, la descripción, la fecha de publicación, etc.</p>
    <p>Ejemplos:
    <ul>
        <li><a href="https://datos.gob.ar/data.json">https://datos.gob.ar/data.json</a></li>
        <li><a href="https://datos.yvera.gob.ar/data.json">https://datos.yvera.gob.ar/data.json</a></li>
    </ul>
    </p>
    <h2>¿Es el objetivo reemplazar los portales oficiales?</h2>
    <p>No.</p>
    <p>Lo hice simplemente por un amor a la preservación de todo el trabajo realizado y es por ello que la descarga será siempre desde los portales oficiales (mientras existan).</p>
   <h2>¿Cómo puedo colaborar?</h2>
   <p>
    <ul>
      <li>Sé amable con quien lo desarrolla, es un proyecto voluntario que nadie financia.</li>
      <li>El código de este portal es abierto y se encuentra disponible en <a href="https://github.com/pdelboca/catalogosocial">https://github.com/pdelboca/catalogosocial</a>.</li>
      <li>Puedes proveer feedback o sugerencias en el repositorio.</li>
     </ul>
    </p>
{% endblock %}
