{% extends 'portal/base.html' %}

{% block content %}
<main>
<h1>Catálogo Social</h1>
<p>Catálogo Social es un proyecto que busca crear un lugar en la web para todas las organizaciones civiles
  que generan datos abiertos y no tienen un portal de publicación. Además se publicarán datasets huérfanos de portal
  que se comparten por las redes sociales.
</p>

<h2>¿Qué datos hay publicados en el sitio?</h2>
<p>
  En este sitio se publican datos que se han recopilando a través de los años. Los mismos no son de una temática en
  particular ni de una organización en particular. Es un rejunte de datos.
</p>

<h2>¿Qué licencia tienen?</h2>
<p>Cada distribución (es decir, cada archivo publicado) contiene un tipo de licencia abierta que permite su
  reutilización. Los detalles se podrán ver en la página de cada distribución.</p>

  <h2>¿Puedo usar este portal para publicar mis datos?</h2>
<p>Por supuesto! El objetivo de Catálogo Social es que todos aquellos que quieran publicar datos tengan un espacio para
  hacerlo. Ponete <a href="https://github.com/pdelboca/catalogosocial">en contacto con nosotros</a> y te y crearemos un Catálogo para tu organización y/o iniciativa.
</p>
<p>Nuestra visión es que Catálogo Social se convierta en un repositorio colaborativo de individuos y organizaciones que
  quieran publicar datos pero no cuentan con la infraestructura para hacerlo.</p>

<h2>¿Y les tengo que entregar mis datos?</h2>
<p>No necesariamente. Catálogo Social, como su nombre lo indica, es un catálogo. Solo ordena y visibiliza tus datos.
  Tranquilamente puedes crear una distribución que contenga un enlace de descarga a tus servidores. </p>
<p>De esta forma, tus datos quedan en tu infraestructura y desde Catálogo Social le hacemos referencia.</p>

<h2>¿Cómo puedo colaborar?</h2>
<ul>
  <li>Sé amable con quien lo desarrolla. Es un proyecto voluntario que, por ahora, nadie financia.</li>
  <li>El código de este portal es abierto y se encuentra disponible en <a
      href="https://github.com/pdelboca/catalogosocial">https://github.com/pdelboca/catalogosocial</a>.</li>
  <li>Puedes proveer feedback o sugerencias en el repositorio.</li>
</ul>
</main>
{% endblock %}