{% extends "portal/base.html" %}

{% block content %}
<main>
<section style="background-color: canvastext; color: canvas; padding: 1rem; text-align: center;">
  <h1>{{ catalog.title }}</h1>
  {% if catalog.homepage %} <strong>Sitio Oficial:</strong> <a href="{{catalog.homepage}}">{{catalog.homepage}}</a> {% endif %}
  <p style="max-width: 80%; margin-inline: auto;">{{ catalog.description }}</p>
  <p>
  <div style="display: flex; justify-content: space-around;">
    <div><strong>Publicador: </strong>{{ catalog.publisher }}</div>
    <div><strong>Licencia: </strong>{{ catalog.licence }}</div>
  </div>
  </p>
  <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
  {% for theme in catalog.themes.all %}
    <span class="tag">{{theme}}</span>
  {% endfor %}
  </div>
</section>
{% if datasets %}
<search>
  <form mehotd="GET" action="{% url 'catalog' catalog.pk %}">
    <label for="search" title="Buscar por nombre y descripción del dataset."><strong>Buscar en el catálogo: </strong></label>
    <input type="search" id="search" name="q" value="{{request.GET.q}}" placeholder="¿Qué dataset buscás?" />
    <button type="submit">Buscar</button>
  </form>
</search>
<div style="text-align: right; font-size: smaller; margin-top: 1rem;"><i>{{datasets|length}} conjunto(s) de dato(s).</i></div>
<section style="display: flex; gap: 2rem; flex-direction: column; margin-top: 1rem;">
  {% for dataset in datasets %}
    {% include 'portal/snippets/dataset.html' %}
  {% endfor %}
</section>
</main>
{% endif %}
{% endblock %}