{% extends "portal/base.html" %}

{% block content %}
<h1>{{ distribution.dataset.catalog.title }}</h1>
<section>
  <h2>Distribución: {{ distribution.title }}</h2>
  <p><i>Descripción: {{ distribution.description }}</i></p>
  <p>
    <strong>Licencia: </strong> {% if distribution.licence %}{{ distribution.licence }} {% elif distribution.dataset.catalog.licence %} {{ distribution.dataset.catalog.licence }} {% else %} Not specified. {% endif %} <br>
    <strong>Formato: </strong>{{ distribution.format }} <br>
  </p>
  <p>
    {% if distribution.external_access_url %}
    <strong>Página Oficial: </strong>
    <br>
    <a href="{{ distribution.external_access_url }}">{{distribution.external_access_url }}</a> <br>
    {% endif %}
    <strong>Descarga: </strong><br><a href="{{ distribution.download_url }}">{{distribution.download_url }}</a> <br>
  </p>
</section>
{% endblock %}