{% extends "portal/base.html" %}

{% block content %}
<section style="display: flex; flex-direction: column;">
  <h1>Catálogo Social</h1>
  <p>
    Catálogo Social es un proyecto de Open Data Córdoba, aquí subiremos todos los datasets que hemos generado históricamente y brindaremos un espacio
    por si otras organizaciones quieren sumarse a publicar datos.

    ¿Tenés datos y te gustaría publicarlos? Escribinos a <a href="mailto:opendatacba@gmail.com">opendatacba@gmail.com</a>
  </p>
  <div style="display: flex; justify-content: space-around; margin-bottom: 15px; text-align: center;">
    <div>
      <span style="font-size: 3.5rem; font-weight: 100;">{{datasets}}</span><br>
      <span>Conjunto de Datos</span>
    </div>
    <div>
      <span style="font-size: 3.5rem; font-weight: 100;">{{distributions}}</span><br>
      <span">Distribuciones</span>
    </div>
  </div>
  <search>
    <form mehotd="GET" action="{% url 'search' %}">
      <label for="search" title="Buscar por nombre y descripción del dataset y la distribución."><strong>Buscar en el sitio:</strong></label>
      <input type="search" id="search" name="q" value="{{request.GET.q}}" placeholder="¿Qué dataset buscás?" />
      <button type="submit">Buscar</button>
    </form>
  </search>
</section>

{% if catalogs %}
<section style="display: flex; gap: 10px; flex-wrap: wrap; justify-content: space-around;">
  {% for catalog in catalogs %}
  <article style="width: 250px;" onmouseover="this.style.boxShadow='10px 5px 5px var(--shadow-color)'" onmouseout="this.style.boxShadow=''">
    <h3>{{catalog.title}}</h3>
    <p><small>{{catalog.description|truncatechars:150}}</small></p>
    <footer><a href="{% url 'catalog' catalog.pk %}">Ir al catalogo</a></footer>
  </article>
  {% endfor %}
  {% endif %}
</section>
{% endblock %}